@charset "utf-8";
@import url(font.css);
@import url(all.min.css);
@import url(normalize.css);

a {
  text-decoration: none;
}
body {
  width: 100%;
}
./*inner {
  width: 1200px;
  margin: auto;
}*/

/*header*/
header {
  width: 100%;
  height: 660px;
}
header {
  position: relative;
  width: 100%;
  height: 660px;
  background-color: #ffd940;
  background-image: url(../img/main_bg1.png);
  background-repeat: no-repeat;
  background-position: center top;
/*  background-size: 1200px 660px;*/
  background-size: contain;
  overflow: hidden;
}
header .inner {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
/*  background-color: #ffd940;*/
  z-index: 2
}
header .inner.on {
  background-color: #fad12b;
  transition: all 0.2s
}
/*
header .inner.on a {
  color: #fff
}
*/
.inner h1 {
  position: absolute;
  left: 11%;
  transition: 0.3s ease;
}
.inner h1 a {
  display: block;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 30px
}
.inner h1 img {
  width: 100%;
}
.inner h1 img {
  animation: sign 3s linear infinite;
}
@keyframes sign {
  0% {
    transform: rotate(-20deg)
  }
  50% {
    transform: rotate(50deg)
  }
  100% {
    transform: rotate(-20deg)
  }
}
.inner h1:hover {
  transform: translateY(5px)
}
.inner h1 a p {
  position: absolute;
  top: 22px;
  left: 50px;
  font-weight: bolder;
  font-size: 16px;
}

.inner .gnb {
  position: absolute;
  right: 11%
}
.inner .gnb a {
  display: block;
  float: left;
  margin-left: 40px;
  margin-top: 22px;
  font-weight: bold;
  transition: 0.3s ease
}
.inner .gnb a:hover {
  transform: translateY(5px)
}

/*visual*/
.visual {
  
}
.visual h2 {
  font-family: NanumSquareEB;
  font-size: 50px;
  text-align: center;
  padding-top: 400px;
}
.visual h2 {
  animation: hi 2s ease infinite;
}
@keyframes hi {
  0% {
    transform: translateY(-5px)
  }
  30% {
    transform: translateY(0px)
  }
  50% {
    transform: translateY(-10px)
  }
  70% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(-5px)
  }
}
.visual h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 35px;
}
.visual img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -410px;
  width: 820px;
}

#career,
#web,
#edit {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 50px
}
#web,
#edit {
  width: 80%;
  height: 100%;
  margin-left: 10%
}
#web h2,
#edit h2 {
  margin-left: 42%;
  margin-right: 42%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background: #ffd940;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 30px;
}

/*career&skill*/
#career {
  margin: 0;
}
#career article {
  width: 50%;
  height: 550px;
  padding: 50px 0px 0px 100px;
/*  border-top: 1px solid #000;*/
  box-sizing: border-box;
}
#career article:nth-child(1) {
  padding: 50px 80px 0px 30px;
}
#career article:nth-child(2) {
  padding: 50px 0px 0px 80px;
}
#career .left h2,
#career .right h2 {
  font-family: NanumSquareEB;
  font-size: 50px;
  color: #000;
}
#career .left h2 {
  text-align: right;
}
#career .left {
  float: left;
  background: #edc72b;
} 
.left .title h4,
.left .title ul,
.left .title p {
  text-align: right
}
.left .title ul,
.left .title p {
  margin-top: 5px
}
.left .title p {
  margin-top: 10px;
  line-height: 23px;
}
.left .title {
  margin: 20px 0;
}
#career .right {
  float: right;
  background: #fad12b;
} 
.right .title {
  margin: 20px 0;
}
.title h4 {
  font-size: 18px;
  font-weight: bold;
}
.title ul {
  margin-top: 5px
}
.title ul li {
  line-height: 23px;
}
.right .title ul li:before {
  content: "○";
  font-size: 10px;
  padding-right: 5px;
  color: #fff;
  font-weight: bold
}
.left .title ul li:after {
  content: "○";
  font-size: 10px;
  padding-left: 5px;
  color: #fff;
  font-weight: bold
}
/*web*/
#web ul,
#edit ul {
	margin: auto;
}
#web ul .work,
#edit ul .work {
  cursor: pointer;
  width: 31.3333%;
  height: 250px;
  margin: 1% 1%;
/*  background: #c9cece;*/
  border-radius: 20px;
  border: 1px solid #c9cece;
  box-sizing: border-box;
  float: left;
  position: relative;
  transition: 0.5s ease
}
#web ul .work:hover,
#edit ul .work:hover {
  background: #ffd940;
  border-radius: 20px;  
  border: 1px solid #ffd940
}
.work img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.work .sungsim {
	height: 70px;
  margin-left: -85.5px;
  margin-top: -35px;
}
.work .biff {
  height: 50px;
  margin-left: -92px;
  margin-top: -25px;
}
.work .clova {
  height: 35px;
  margin-left: -61.85px;
  margin-top: -17.5px;
}
.work .jejudora {
  height: 50px;
  margin-left: -81.42px;
  margin-top: -25px;
}
.work .bodyluv {
  height: 25px;
  margin-left: -91.66px;
  margin-top: -12.5px;
}
.work .ediya {
  height: 30px;
  margin-left: -69.66px;
  margin-top: -15px;
}

/*edit img*/
.work p {
  font-size: 25px;
  color: #151515;
  font-weight: bold;
  line-height: 250px;
  text-align: center;
}
.work .jinjuye {
	height: 44px;
  margin-left: -75.42px;
  margin-top: -22px;
}
.work .healthy {
	height: 40px;
  margin-left: -80px;
  margin-top: -20px;
}
.work .hanyejong {
	height: 26px;
  margin-left: -66.94px;
  margin-top: -13px;
}
.work .myeongseung {
	height: 60px;
  margin-left: -53.33px;
  margin-top: -30px;
}

/*web modal*/
main .w-modal,
main .e-modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0,0,0, 0.8)
}

.w-modal .modal-contents,
.e-modal .modal-contents {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 1000px;
  margin: 100px auto;
  opacity: 0.95px;
}
.modal-contents .img {
  width: 100%;
}
.modal-contents .close {
  position: fixed;
  top: 34px;
  right: 50px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  background: #ffd940
}
.modal-contents .close:hover {
  cursor: pointer
}
.modal-contents a {
  position: fixed;
  top: 32px;
  right: 100px;
  display: block;;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  background: #ffd940;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 30px;
}
/*.modal-contents a:before:hover {
  position: absolute;
  background: #ffd940;
  padding: 10px 20px;
  top: 0;
  right: 0;
  height: 20px;
  width: 500px;
}*/

/*footer*/
footer {
/*  position: fixed;*/
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #000
}
.footer-info {
/*  position: absolute;*/
  padding-top: 20px;
/*  width: 1200px*/
}
.footer-info a {
  color: #fff;
  display: block;
  width: 150px;
  margin: auto;
}
.link {
  padding-top: 10px;
  height: 60px;
  width: 120px;
  margin: auto
}
.link a {
  height: 60px;
  display: block;
  float: left;
}
.link img {
  height: 60px;
}
.link copy {
  height: 30px;
}
.copy {
  font-size: 13px;
  padding-top: 40px;
  color: #fff;
  text-align: center;
}


/*스크롤바 디자인하기
width, track, handle, hover
*/
::-webkit-scrollbar {
  width: 15px
}

::-webkit-scrollbar-track {
  color: #c9cece;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd940
}















