@charset "utf-8";
@import url(all.min.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR);
@import url(normalize.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #0B0D0C;
}
.serif {
  font-family: 'Noto Serif KR', sans-serif;
}
header .h-fix {
  position: fixed;
}
main .wrap {
  width: 1760px;
}
.content {
  position: relative;
/*  height: 100%;*/
  height: 100vh;
  left: 0;
  right: 0;
  margin: auto
}
/*고정메뉴*/
header .h-fix {
  z-index: 4
}
header .h-fix .logo {
  display: block;
  position: relative;
  left: 80px;
  top: 50px;
  width: 402px;
  height: 163px;
}
.h-fix .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/logo_white.png) no-repeat;
  z-index: 2;
  transition: all 0.3s ease
}
.h-fix .logo.black a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/logo_black.png) no-repeat;
  z-index: 2
}
header .h-fix .logo-m {
  display: none;
}

/*gnb 메인메뉴*/
.h-fix .gnb {
  position: fixed;
  top: 50px;
  right: 270px;
  float: left
}
.h-fix .gnb a {
  color: #fff;
  display: block;
  float: left;
  padding: 0 20px;
}
.h-fix .gnb.black a {
  color: #0B0D0C
}

/*왼쪽 네비게이션 메뉴*/
.h-fix .side {
  position: fixed;
  left: 80px;
  top: 460px;
  width: 160px;
  height: 15px
}
.side li {
  margin-bottom: 15px;
}
.side li a {
  float: left;
  padding-right: 10px;
}
.side li a span {
  display: block;
  width: 12px;
  height: 12px;
  background: transparent;
  border-radius: 7px;
  border: 1px solid #fff;
  transition: all .3s ease
}
.side li div {
  display: none;
  color: #fff;
  font-weight: normal;
  letter-spacing: 1.5px;
  font-size: 13px;
  transition: all .3s ease
}

/*왼쪽네비게이션 블랙*/
.side.black li a span {
  border: 1px solid #0B0D0C
}
.side.black li div {
  color: #0B0D0C;
}


/*jquery*/
.side a span.on {
  background: #fff
}
.side.black a span.on {
  background: #0B0D0C
}
.side div.on {
  display: block;
}

/*햄버거 메뉴*/
.h-fix .ham-btn {
  position: fixed;
  top: 50px;
  right: 80px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #ec2024;
  z-index: 5;
  transition: all .3s ease  
}
.h-fix .ham-btn a {
  position:absolute;
  display: block;
  width: 60px;
  height: 60px
}
.ham-btn-on > div {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 2px;
  background: #fff;
  transition: all .3s ease
}
.ham-btn-on .line1 {
  top: 22px;
}
.ham-btn-on .line2 {
  top: 29px;
}
.ham-btn-on .line3 {
  top: 36px;
}

.ham-btn-off > div {
  position: absolute;
  left: 20px;
  top: 29px;
  width: 20px;
  height: 2px;
  background: #fff;
}
.ham-btn-off .line1 {
  transform: rotate(-45deg);
}
.ham-btn-off .line2 {
  display: none
}
.ham-btn-off .line3 {
  transform: rotate(45deg)
}

/*햄버거버튼 블랙버전*/
.h-fix .ham-btn.black {
  background: #fff;
}
.ham-btn.black .ham-btn-on > div {
  background: #0B0D0C;  
}
.ham-btn.black .ham-btn-off > div {
  background: #0B0D0C;
}
/*햄버거버튼 바탕블랙버전*/
.h-fix .ham-btn.bgblack {
  background: #0B0D0C;
}
.ham-btn.bgblack .ham-btn-on > div {
  background: #fff;  
}
.ham-btn.bgblack .ham-btn-off > div {
  background: #fff;
}
.h-fix .ham-btn:hover.bgblack {
  background: #ffc74a;
}
.ham-btn:hover.bgblack .ham-btn-on > div {
  background: #0B0D0C;  
}
.ham-btn:hover.bgblack .ham-btn-off > div {
  background: #0B0D0C;
}
/*햄버거 메뉴 on 할때 전체 메뉴*/
.h-fix .ham-menu {
  position: fixed;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 4
}
.ham-menu .ham-con {
  position: relative;
  width: 65%;
  height: 100%;
  background: #0B0D0C;
}

.ham-con article {
  position: absolute;
  box-sizing: border-box;
  padding: 80px 0 0 60px;
}
.ham-con article:nth-child(1){
  position: absolute;
  width: 50%;
  height: 480px;
  left: 0;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.ham-con article:nth-child(2){
  position: absolute;
  width: 50%;
  height: 480px;
  left: 50%;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.ham-con article:nth-child(3) {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0;
  top: 480px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.ham-con article:nth-child(4) {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 480px
}
.ham-con article:hover {
  background: #ffc74a;
  transition: all 0.5s
}
.ham-con article:hover h4 {
  color: #0B0D0C;
}
.ham-con article:hover a {
  color: #0B0D0C;
}
.ham-con article h4 {
  position: relative;
  display: inline;
}
.ham-con article h4:before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background: #0B0D0C;
  transition: all 0.4s ease-out
}
.ham-con article:hover h4:before {
  width: 100%;
  transform-origin: left
}
.ham-con article h4 {
  font-size: 30px;
  color: #fff;
  font-weight: normal;
}
.ham-con article .sub-m {
  margin-top: 30px;
}
.ham-con article a {
  font-size: 18px;
  font-weight: normal;
  display: block;
  color: #fff;
  line-height: 1.8;
}
.ham-con article a:hover {
  color: #fff;
  font-weight: normal;
}
.ham-menu .ham-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background: url(../img/brand_sub_slide0.png) no-repeat bottom center / cover;
}
.ham-menu .ham-con2 {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px;
  background: rgba(255, 255, 255, 0.18)
}
.ham-menu .ham-bg h4 {
  font-size: 20px;
  line-height: 2;
}
.ham-menu .ham-bg p {
  font-size: 16px;
  margin-bottom: 20px;
}
.ham-menu .ham-bg .sns {
  float: left;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
.ham-menu .ham-bg .sns a {
  display: block;
  float: left;
  margin-right: 10px;
  height: 25px;
}
.ham-menu .ham-bg .sns a img {
  height: 100%
}

/*햄버거메뉴 jQuery*/
.ham-btn-on {
  display: block;
}
.ham-btn-off {
  display: none;
}
.ham-btn.kong .ham-btn-on {
  display: none
}
.ham-btn.kong .ham-btn-off {
  display: block
}
.ham-menu {
  display: none
}
.ham-menu.kong {
  display: block
}

/*오른쪽 동그란메뉴*/
.h-fix .r-menu {
  position: fixed;
  top: 300px;
  right: 80px;
}
.r-menu > div{
  top: 50px;
  right: 80px;
  
  width: 60px;
  height: 80px;
  margin-bottom: 15px;
}
.r-menu > div a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #ec2024;
  margin-bottom: 5px;
  transition: all .3s ease
}
.r-menu > div a:hover {
  background: #fff;
}
.r-menu > div a:hover i {
  color: #ec2024
}
.r-menu > div a i {
  position: absolute;
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding-top: 18px;
  padding-left: 17px;
  transition: all .3s ease
}
.r-menu > div p {
  color: #fff;
  font-size: 13px;
  text-align: center;
}

/*오른쪽메뉴 블랙버전*/
.h-fix .r-menu.black > div a {
  background: #fff;
}
.h-fix .r-menu.black > div a i {
  color: #0B0D0C
}
.r-menu.black > div p {
  color: #0B0D0C
}
.r-menu.black > div a:hover {
  background: #0B0D0C;
}
.r-menu.black > div a:hover i {
  color: #fff
}
/*오른쪽메뉴 바탕블랙버전*/
.h-fix .r-menu.bgblack > div a {
  background: #0B0D0C;
}
.h-fix .r-menu.bgblack > div a i {
  color: #fff
}
.r-menu.bgblack > div p {
  color: #0B0D0C
}
.r-menu.bgblack > div a:hover {
  background: #ffc74a
}
.r-menu.bgblack > div a:hover i {
  color: #0B0D0C
}


/*탑버튼*/
.top-btn {
  position: fixed;
  right: 80px;
  bottom: 40px;
  width: 60px;
  height: 80px;
}
.top-btn a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #ec2024;
  margin-bottom: 5px;
}
.top-btn a:hover {
  background: #fff;
}
.top-btn a:hover i {
  color: #ec2024
}
.top-btn a i {
  position: absolute;
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding-top: 18px;
  padding-left: 22px
}
.top-btn p {
  color: #fff;
  font-size: 13px;
  text-align: center;
}
/*탑버튼 블랙버전*/
.top-btn.black a {
  background: #fff;
}
.top-btn.black a i {
  color: #0B0D0C
}
.top-btn.black p {
  color: #0B0D0C
}
.top-btn.black a:hover {
  background: #0B0D0C;
}
.top-btn.black a:hover i {
  color: #fff
}
/*탑버튼 바탕블랙버전*/
.top-btn.bgblack a {
  background: #0B0D0C;
}
.top-btn.bgblack a i {
  color: #fff
}
.top-btn.bgblack p {
  color: #0B0D0C
}
.top-btn.bgblack a:hover {
  background: #ffc74a;
}
.top-btn.bgblack a:hover i {
  color: #0B0D0C
}

/*main*/
.wrap {
  height: 100%;
  background: #fff; 
/*  border-top: 4px solid #ec2024;*/
}

/*visual*/
#visual {
  position: relative;
  height: 916px;
/*  height: 100%;*/
  background: #0B0D0C ;
  border-top: 4px solid #ec2024;
}
#visual .slide-list {
  position: relative;
  display: block;
  width: 1335px;
  left: 0;
  right: 0;
  margin: auto;
  background: #0B0D0C 
}
#visual .slide-list .slide {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 200px;
  margin: auto;  
}
.slide-list .slide img {
  width: 100%;
}
#visual .slide-list-m {
  display: none
}
/*visual 아래 롤링 버튼메뉴*/
#visual .v-snb {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 50px;
  
  width: 170px;
  height: 47px
}
.v-snb .prev {
  float: left;
  margin-right: 20px;
}
.v-snb .prev a {
  color: #fff;
  font-size: 16.5px;
  line-height: 47px;
  text-align: center;
}
.v-snb .paging {
  position: relative;
  float: left;
  width: 47px;
  height: 47px;
  border-radius: 25px;
  background: #ec2024;
}
.v-snb .paging a {
  position: absolute;
  display: block;
  right: 13.5px;
  top: 13.5px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.v-snb .paging a.on {
  display: block;
}
.v-snb .paging a {
  display: none;
}
/*
.v-snb .paging .p-02 {
  display: block;
}
.v-snb .paging .p-03 {
  display: block;
}
*/
.v-snb .next {
  float: left;
  margin-left: 20px;
}
.v-snb .next a {
  color: #fff;
  font-size: 16.5px;
  line-height: 47px;
  text-align: center;
}

/*menu*/
.menu-con {
  background: #f2f0f0;
}
.menu-con .title {
  position: relative;
  left: 0;
  right: 0;
  top: 230px;
  margin: auto;
  
  width: 434px
}
.menu-con .title img {
  display: block;
  float: left;
  width: 245px;
  height: 100%;
}
.menu-con .title h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ec2024;
  padding-top: 80px;
  padding-left: 262px;
}
.menu-con .menu {
  position: relative;
  top: 330px;
}
.menu-con .menu-m {
  display: none
}
.menu-con .menu .slide {
  position: absolute;
  left: 15%;
  width: 1326px;
  height: 380px
}
.menu-con .slide .m1,
.menu-con .slide .m2,
.menu-con .slide .m3 {
  float: left;
}

.menu-con .slide .m1 a,
.menu-con .slide .m2 a,
.menu-con .slide .m3 a {
  width: 442px;
  display: block;
}
.slide .m1 p,
.slide .m2 p,
.slide .m3 p,
.slide .m4 p,
.slide .m5 p,
.slide .m6 p {
  position: absolute;
  top: 290px;
  font-size: 22px;
  width: 442px;
  text-align: center;
}
.slide .m1 .desc,
.slide .m2 .desc,
.slide .m3 .desc,
.slide .m4 .desc,
.slide .m5 .desc,
.slide .m6 .desc {
  position: absolute;
  display: block;
  width: 200px;
  height: 26px;
  top: 340px;
/*  left: 50%;*/
  margin-left: 120px;
  font-size: 16px;
  padding-top: 5px;
  text-align: center;
  color: #fff;
  background: #ec2024
}


.menu-con .slide .m4,
.menu-con .slide .m5,
.menu-con .slide .m6 {
  float: left;
}
.menu-con .menu .slide {
  display: none
}

/*indicator*/
.menu-con .indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -37px;
/*  right: 0;*/
  height: 12px;
  
  text-align: center;
}
.menu-con .indicator a {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0 10px;
  
  overflow: hidden;
}
.menu-con .indicator a.on {
  cursor: default
}
.menu-con .indicator a:after {
  content: url(../img/indicator.png);
  margin-left: -100px
}
.menu-con .indicator a.on:after {
  margin-left: -132px
}

/*brand*/
#brand {
  background: #ffc74a;
}
#brand .bg-p {
  position: relative;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.b-con .b-con-l {
  position: absolute;
  top: 248px;
  padding-left: 15%;
}
.b-con .b-con-m {
  display: none;
}
.b-con .b-con-l img {
  display: block;
  width: 100%;
}

.b-con .b-con-r {
  position: absolute;
  top: 280px;
  padding-left: 60%
}
.b-con .b-con-r h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 15px
}
.b-con .b-con-r img {
  width: 100%;
  height: auto;
  margin-bottom: 30px
}
.b-con .b-con-r .serif {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 30px
}

.b-con .b-con-r .more-btn {
  float: left;
/*  border: 2px solid #fff*/
}
.b-con-r .more-btn a {
  background: #000;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  display: block;
}
.b-con-r .more-btn a i {
  color: #fff;
  font-size: 16px;
  padding-top: 9px;
  padding-left: 10px
}
.b-con-r .more-btn a:hover {
  background: #fff;
}
.b-con-r .more-btn a:hover i {
  color: #000
}
.b-con .b-con-r .btn-txt {
  left: 0;
  font-size: 16.5px;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 45px
}

/*community*/
#community .mobile {
  display: none
}
#community .web {
  position: relative;
  display: block;
  background: #fff;
  height: 100%;
}
#community .web .bg-icon {
  position: absolute;
/*  right: 150px;*/
  right: 0px;
  bottom: 0;
  width: ;
}
#community .web .bg-board {
  position: absolute;
  top: 345px;
  left: 50%;
  margin-left: -585px;
  background: #ffc74a;
  width: 1170px;
  height: 400px;
}
.bg-board .board:first-child {
  position: absolute;
  width: 585px;
  height: 400px;
  padding: 30px;
  box-sizing: border-box;
}
.bg-board .board:last-child {
  position: absolute;
  left: 585px;
  width: 585px;
  height: 400px;
  padding: 30px;
  box-sizing: border-box
}
.bg-board .board h4 {
  font-size: 25px;
  padding-top: 35px;
  padding-bottom: 30px;
}
.bg-board .board .more-btn {
  position: absolute;
  top: 60px;
  right: 30px;
}
.bg-board .board .more-btn a {
  display: block;
  font-size: 24px;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: #000;
  padding: 0 8px;
  line-height: 30px;
  box-sizing: border-box
}
.bg-board .board .more-btn a:hover {
  color: #000;
  background: #fff;
}
.bg-board .board ul {
  border-top: 2px solid #000;
  padding-top: 55px;
}
/*.board ul li {
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}*/
.board ul li a {
  font-size: 19px;
  line-height: 30px;
}
.board ul li a span {
  display: inline-block;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board ul li a:hover span {
  color: #fff
}
.board ul li a time {
  display: inline-block;
  position: absolute;
  right: 30px;
}

/*family*/
#family {
  background: #0B0D0C;
}
#family .bg-f {
  position: relative;
  background: url(../img/section04_bg.png) no-repeat center/cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
#family .title {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  margin: auto;
  
  width: 434px
}
#family .title-m {
  display: none
}
.title img {
  display: block;
  float: left;
  width: 245px;
  height: 100%;
}
.title h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ec2024;
  padding-top: 60px;
  padding-left: 262px;
}
#family .brand {
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: -587.5px;
  width: 1175px;
}
#family .brand .br-con {
  float: left;
}
#family .brand .br-con {
  position: relative;
}
#family .brand .br-1 {
  margin-right: 100px;
  margin-bottom: 50px
}
#family .brand .br-2 {
  margin-right: 100px;
  margin-bottom: 50px
}
#family .brand .br-2 {
  margin-bottom: 50px
}
#family .brand .br-4 {
  margin-right: 100px
}
#family .brand .br-5 {
  margin-right: 100px
}
.brand .br-con a {
  display: block;
}
.brand .br-con .b-bg {
  width: 325px;
  height: 180px
}
.brand .br-con .b-logo {
  position: absolute;
  top: 20px;
  left: 50%;  
}
.brand .br-con p {
  position: absolute;
  left: 50%;
  bottom: 15px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
}
.brand .br-1 .b-logo {
  margin-left: -83px;
}
.brand .br-1 p {
  margin-left: -110px;
}
.brand .br-2 .b-logo {
  margin-left: -71.5px;
}
.brand .br-2 p {
  margin-left: -102px;
}
.brand .br-3 .b-logo {
  top: 40px;
  margin-left: -75px;
}
.brand .br-3 p {
  margin-left: -93px;
}
.brand .br-4 .b-logo {
/*  top: 40px;*/
  margin-left: -54.5px;
}
.brand .br-4 p {
  margin-left: -113px;
}
.brand .br-5 .b-logo {
/*  top: 40px;*/
  margin-left: -77.5px;
}
.brand .br-5 p {
  margin-left: -111px;
}
.brand .br-6 .b-logo {
  top: 30px;
  margin-left: -83.5px;
}
.brand .br-6 p {
  bottom: 35px;
  margin-left: -80px;
}

/*footer*/
#family footer {
/*  height: 300px;*/
  width: 100%;
  background: #ec2024
}
#family footer .com {
  height: 293px;
/*  background: url(../img/footer_pt.png) no-repeat;*/
}
.com .f-logo {
  width: 185px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px
}
.com .f-logo img{
  width: 100%;
  display: block;
}
#family footer .com p {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
}
#family footer .add {
  height: 50px;
  width: 100%;
  background: #0B0D0C
}
#family footer .add address {
  font-style: normal;
  font-weight: normal;
  color: #ec2024;
  text-align: center;
  padding-top: 18px;
}

/*스크롤바 디자인하기
width, track, handle, hover
*/
::-webkit-scrollbar {
  width: 15px
}

::-webkit-scrollbar-track {
  color: #c9cece;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ec2024
}












