@charset "utf-8";

/*고정메뉴*/
body {
  width: 100%
}
header .h-fix .logo {
  display: none;
}
header .logo-m {
  position: absolute;
  left: 30px;
  top: 25px;
  width: 146px;
  height: 60px;
  z-index: 4;
}
.logo-m a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/logo_white.png);
  background-size: 146px 60px;
  z-index: 2
}
/*gnb 메인메뉴*/
.h-fix .gnb {
  display: none
}

/*왼쪽 네비게이션 메뉴*/
.h-fix .side {
  display: none
}

/*햄버거 메뉴*/
.h-fix .ham-btn {
  position: fixed;
  top: 25px;
  right: 10px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

/*햄버거 메뉴 on 할때 전체 메뉴*/
.ham-menu .ham-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}
.ham-con article {
  padding: 0;
}
.ham-con article:nth-child(1) {
  height: 330px;
  padding: 120px 0 0 20px;
}
.ham-con article:nth-child(2) {
  height: 330px;
  padding: 120px 0 0 20px;
}
.ham-con article:nth-child(3) {
  height: 370px;
  top: 330px;
  padding: 30px 0 0 20px;
  box-sizing: border-box;
}
.ham-con article:nth-child(4) {
  height: 370px;
  top: 330px;
  padding: 30px 0 0 20px;
  box-sizing: border-box;
}
.ham-con article h4 {
  font-size: 20px
}
.ham-menu .ham-bg {
  display: none
}
.ham-con article a {
  font-size: 14px;
  font-weight: normal;
  display: block;
  color: #fff;
  line-height: 1.8;
}

/*오른쪽 동그란메뉴*/
.h-fix .r-menu {
  display: none
}

/*탑버튼*/
.top-btn {
  position: fixed;
  bottom: 25px;
  right: 10px;
}
.top-btn a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background: #ec2024;
  margin-bottom: 5px;
  border: 1px solid #fff;
  box-sizing: border-box
}
/*visual*/
#visual {
  position: relative;
  height: 600px;
  background: #0B0D0C;
  background-size: 100% ;
  border-top: 4px solid #ec2024;
  box-sizing: border-box
}
#visual .slide-list {
  display: none;
}
#visual .slide-list .v-snb {
  display: none
}
#visual .slide-list-m {
  position: relative;
  display: block;
  height: 600px;
}
#visual .slide-list-m .slide-m {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  top: 150px;
  margin: auto;  
}
#visual .slide-list-m .slide-m img {
  width: 100%;
}
/*visual 아래 롤링 버튼메뉴*/
#visual .v-snb {
  display: none;
 /* bottom: 0;
  bottom: 30px*/
}
/*visual snb*/
#visual .v-snb-m {
  position: absolute;
  bottom: 0;
  left: 0
}
.v-snb-m .prev {
  float: left;
  width: 60px;
  height: 60px;
  background: #fff;
}
.v-snb-m .prev a {
  font-size: 26px;
  line-height: 60px;
  margin-left: 20px;
  color: #ec2024
}
.v-snb-m .next {
  float: right;
  width: 60px;
  height: 60px;
  background: #ec2024;  
}
.v-snb-m .next a {
  font-size: 26px;
  line-height: 60px;
  margin-left: 26px;
  color: #fff
}

/*menu*/
.menu-con {
  background: #fff;
  position: relative;
  height: 800px;
  top: 0px;
}
.menu-con .title {
  position: relative;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  
  width: 198px
}
.menu-con .title img {
  display: block;
  float: none;
  width: 198px;
  height: 100%;
}
.menu-con .title h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ec2024;
  padding-top: 0px;
  padding-left: 50px;
}
.menu-con .menu {
  top: 100px;
}
.menu-con .menu .slide {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}
.menu-con .slide .m1,
.menu-con .slide .m2,
.menu-con .slide .m3 {
  float: none;
}
.menu-con .slide .m4,
.menu-con .slide .m5,
.menu-con .slide .m6 {
  float: none;
}
.menu-con .slide .m1 a,
.menu-con .slide .m2 a,
.menu-con .slide .m3 a,
.menu-con .slide .m4 a,
.menu-con .slide .m5 a,
.menu-con .slide .m6 a {
  width: 240px;
  display: block;
}
.menu-con .slide .m1 a,
.menu-con .slide .m4 a {
  position: absolute;
  left: 0;
  display: block;
}
.menu-con .slide .m1 p,
.menu-con .slide .m4 p {
  position: absolute;
  top: 60px;
  left: 240px;
  text-align: left;
  display: block;
}
.menu-con .slide .m1 .desc,
.menu-con .slide .m4 .desc {
  position: absolute;
  top: 80px;
  left: 240px;
  text-align: left;
  font-weight: bold;
  margin-right: 80px;
  display: block;
}
.menu-con .slide .m3 a,
.menu-con .slide .m6 a {
  position: absolute;
  left: 0;
  top: 300px;
  display: block;
}
.menu-con .slide .m3 p,
.menu-con .slide .m6 p {
  position: absolute;
  top: 370px;
  left: 240px;
  text-align: left;
  display: block;
}
.menu-con .slide .m3 .desc,
.menu-con .slide .m6 .desc {
  position: absolute;
  top: 390px;
  left: 240px;
  font-weight: bold;
  text-align: left;
  font-weight: bold;
  display: block;
}
.menu-con .slide .m2 a,
.menu-con .slide .m5 a {
  position: absolute;
  top: 150px;
  right: 0;
}
.menu-con .slide .m2 p,
.menu-con .slide .m5 p {
  position: absolute;
  top: 230px;
  right: 230px;
  text-align: right;
  display: block;
}
.menu-con .slide .m2 .desc,
.menu-con .slide .m5 .desc {
  position: absolute;
  top: 250px;
  font-weight: bold;
  right: 230px;
  text-align: right;
  display: block;
}
/*.menu-con .slide .m1 a,
.menu-con .slide .m2 a,
.menu-con .slide .m4 a,
.menu-con .slide .m5 a {
  margin-bottom: 20px;
}*/

.menu-con .slide .m1 img,
.menu-con .slide .m2 img,
.menu-con .slide .m3 img,
.menu-con .slide .m4 img,
.menu-con .slide .m5 img,
.menu-con .slide .m6 img {
  width: 100%;
  display: block;
}
.slide .m1 p,
.slide .m2 p,
.slide .m3 p,
.slide .m4 p,
.slide .m5 p,
.slide .m6 p {
  font-size: 22px;
}
.slide .m1 .desc,
.slide .m2 .desc,
.slide .m3 .desc,
.slide .m4 .desc,
.slide .m5 .desc,
.slide .m6 .desc {
  position: absolute;
  display: block;
  top: 340px;
  font-size: 14px;
  padding-top: 5px;
  color: #ec2024;
  background: none;
  margin: 0;
}

/*brand*/
#brand {
  position: relative;
  background: #ffc74a;
  height: 700px;
/*  width: 100%;*/
  top: 0px;
}
#brand .bg-p {
  height: 900px;
  position: relative;
  background: #ffc74a url(../img/section02_img_m.png) no-repeat top center;
  background-size: 100% ;
  opacity: 1;
}
.b-con .b-con-l {
  display: none;
}

.b-con .b-con-r {
  position: absolute;
  top: 320px;
  padding-left: 60px
}
.b-con .b-con-r h2 {
  font-size: 25px;
}
.b-con .b-con-r img {
  width: 230px;
  height: auto;
  margin-bottom: 20px
}
.b-con .b-con-r .serif {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 20px
}
.b-con .b-con-r .more-btn {
  float: left;
  background: #000;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  border: 2px solid #fff
}
.b-con-r .more-btn a {
  width: 35px;
  height: 35px;
  display: block;
}
.b-con-r .more-btn a i {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px
}

.b-con .b-con-r .btn-txt {
  left: 0;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 50px
}

/*community*/
#community {
  position: relative;
  height: 375px;
  top: 0px;
}
#community .web {
  display: none
}
#community .mobile {
  display: block;
  position: relative;
  height: 380px;
/*  background: url(../img/section03_img_m.png) */
}
#community .mobile .board {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  height: 40px;
  background: #ffc74a
}
#community .mobile .board:first-child {
  top: 100px;
}
#community .mobile .board:nth-child(2) {
  top: 160px;
}
.mobile .board a {
  display: block;
/*  width: 440px;*/
  height: 40px
}
.mobile .board a p {
  padding-left: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  float: left
}
.mobile .board a span {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  background: #000
}
.mobile .board a span i {
  font-size: 24px;
  color: #ffc74a;
  line-height: 40px;
  padding-left: 15px;
}
.mobile .board-sns {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -65px;
}
.mobile .board-sns a {
  display: block;
  float: left;
  height: 30px;
  width: auto
}
.mobile .board-sns a img {
  height: 100%;
  width: auto
}
.mobile .board-sns a:not(last-child) {
  margin-right: 20px
}
#community .mobile img {
  width: 100%;
  height: 100%;
}
/*family*/
#family {
  position: relative;
  background: #0B0D0C;
  height: 1700px;
  top: 0px;
}
#family .bg-f {
  background: #0B0D0C url(../img/section04_bg_m.png) no-repeat top center;
  background-size: 100%;
  opacity: 1;
  height: 1700px;
}
#family .title {
  display: none
}
#family .title-m {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 157px;
  margin: auto;
  
  width: 170px;
}
.title-m img {
  display: block;
  float: none;
  width: 170px;
  height: 100%;
}
.title-m h2 {
  font-size: 23px;
  font-weight: bold;
  color: #ec2024;
  padding-top: 10px;
  padding-left: 3px;
  text-align: center;
}
#family .brand {
  top: 330px;
  margin-left: -162.5px;
  width: 325px
}
#family .brand .br-con {
  float: none;
}
#family .brand .br-con {
  position: relative;
}
#family .brand .br-1,
#family .brand .br-2,
#family .brand .br-3,
#family .brand .br-4,
#family .brand .br-5,
#family .brand .br-6 {
  margin: 0;
  margin-bottom: 40px
}

/*footer*/
#family footer {
  height: 280px;
}
#family footer .com {
  height: 230px;
  background: none;
}
.com .f-logo {
  width: 150px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px
}
#family footer .com p {
  padding: 0 10px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box
}
#family footer .add address {
  font-size: 12px
}



