@charset "utf-8";

/*고정메뉴*/
header .h-fix .logo {
  display: none;
}
header .logo-m {
  position: absolute;
  left: 30px;
  top: 25px;
  width: 146px;
  height: 60px;
  z-index: 4;
}
.logo-m a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/logo_white.png);
  background-size: 146px 60px;
  z-index: 2
}
/*gnb 메인메뉴*/
.h-fix .gnb {
  display: none
}

/*왼쪽 네비게이션 메뉴*/
.h-fix .side {
  display: none
}

/*햄버거 메뉴*/
.h-fix .ham-btn {
  position: fixed;
  top: 25px;
  right: 10px;
}

/*햄버거 메뉴 on 할때 전체 메뉴*/
.ham-menu .ham-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}
.ham-con article {
  padding: 0;
}
.ham-con article:nth-child(1) {
  height: 370px;
  padding: 120px 0 0 20px;
}
.ham-con article:nth-child(2) {
  height: 370px;
  padding: 120px 0 0 20px;
}
.ham-con article:nth-child(3) {
  height: 330px;
  top: 370px;
  padding: 50px 0 0 20px;
  box-sizing: border-box;
}
.ham-con article:nth-child(4) {
  height: 330px;
  top: 370px;
  padding: 50px 0 0 20px;
  box-sizing: border-box;
}
.ham-con article h4 {
  font-size: 20px
}
.ham-menu .ham-bg {
  display: none
}
.ham-con article a {
  font-size: 14px;
  font-weight: normal;
  display: block;
  color: #fff;
  line-height: 1.8;
}

/*오른쪽 동그란메뉴*/
.h-fix .r-menu {
  display: none
}

/*탑버튼*/
.top-btn {
  position: fixed;
  bottom: 25px;
  right: 10px;
}

/*visual*/
#visual {
  position: relative;
  height: 700px;
  background: #0B0D0C url(../img/visual_bg_m.png) no-repeat center center;
  background-size: 100% ;
  border-top: 4px solid #ec2024;
  box-sizing: border-box
}
/*visual 아래 롤링 버튼메뉴*/
#visual .v-snb {
  display: none
}
/*visual snb*/
#visual .v-snb-m {
  position: absolute;
  bottom: 0;
  left: 0
}
.v-snb-m .prev {
  float: left;
  width: 60px;
  height: 60px;
  background: #fff;
}
.v-snb-m .prev a {
  font-size: 26px;
  line-height: 60px;
  margin-left: 20px;
  color: #ec2024
}
.v-snb-m .next {
  float: right;
  width: 60px;
  height: 60px;
  background: #ec2024;  
}
.v-snb-m .next a {
  font-size: 26px;
  line-height: 60px;
  margin-left: 26px;
  color: #fff
}
/*menu*/
#menu {
  background: #fff;
}
#menu .title {
  position: relative;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  
  width: 198px
}
#menu .title img {
  display: block;
  float: none;
  width: 198px;
  height: 100%;
}
#menu .title h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ec2024;
  padding-top: 0px;
  padding-left: 60px;
}

/*brand*/
#brand .bg-p {
  position: relative;
  background: url(../img/section02_img_m.png)  no-repeat center center;
  background-size: 100% 900px;
  opacity: 1;
  width: 100%;
  height: 900px;
  overflow-y: hidden
}
.b-con .b-con-l {
  display: none;
}
.b-con .b-con-m {
  display: block;
  position: absolute;
  top: 0px;
  padding-left: 0;
}
.b-con .b-con-m img {
  display: block;
  width: 100%;
}
.b-con .b-con-r {
  position: absolute;
  top: 418px;
  padding-left: 80px
}
.b-con .b-con-r h2 {
  font-size: 27px;
}
.b-con .b-con-r img {
  width: 300px;
  height: auto;
  margin-bottom: 20px
}
.b-con .b-con-r .serif {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px
}

/*family*/
#family {
  background: #0B0D0C;
  height: 1779px;
}
#family .bg-f {
  position: relative;
  background: url(../img/section04_bg_m.png)  no-repeat center center;
  background-size: 100% 1779px;
  opacity: 1;
  width: 100%;
  height: 1779px;
  overflow-y: hidden
}
#family .title {
  display: none
}
#family .title-m {
  position: absolute;
  left: 0;
  right: 0;
  top: 157px;
  margin: auto;
  
  width: 180px
}
.title-m img {
  display: block;
  float: none;
  width: 169px;
  height: 100%;
}
.title-m h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ec2024;
  padding-top: 10px;
  padding-left: 3px;
}
/*footer*/
#family footer {
  height: 280px;
}
#family footer .com {
  height: 230px;
  background: url(../img/footer_pt.png) no-repeat;
}
.com .f-logo {
  width: 150px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px
}
#family footer .com p {
  padding: 0 10px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box
}
#family footer .add address {
  font-size: 12px
}



