@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url(normalize.css);
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

.en {
  font-family: 'Comfortaa', cursive;
}
body {
  width: 100%;
  margin: auto;
  font-family: 'NanumSquareRound', sans-serif;
  color: #000;
  font-size: 16px;
}
.con {
  position: relative;
  margin-left: 90px;
  height: 100%;
/*
  width: 1830px;
  overflow-x: hidden;
*/
}

/*sideFix-menu*/
.side-fix {
  position: fixed;
  height: 100%;
  width: 89px;
  background: #eef2fa;
/*  background: #3fa9f5;*/
  border-right: 1px solid #fff;
  z-index: 5
}
.side-fix .brand {
  padding: 20px 25px
}
.brand a {
  position: relative;
  display: block;
  width: 40px;
}
.brand a:hover .blind {
  position: absolute;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
  top: 55px;
  left: -17px;
  padding: 5px 5px;
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #000;
}
.brand a .blind:before {
  position: absolute;
  content: '';
  display: block;
  left: 27px;
  top: -10px;
  border-bottom: 13px solid #000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.brand a img {
  width: 100%;
}
.side-fix .ham-menu {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 30px;
  cursor: pointer
}
.ham-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
}
.ham-menu span:nth-child(2) {
  margin-top: 10px;
}
.ham-menu span:nth-child(3) {
  margin-top: 10px;
}
.side-fix .side-btn {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  width: 90px;
}
.side-btn .menu-btn {
  margin-top: 50px;
}
.side-btn .menu-btn a {
  position: relative;
  display: block;
  margin: auto;
  left: 50%;
  margin-left: -12.5px;
}
.side-btn .menu-btn a:hover .blind {
  position: absolute;
  display: inline-block;
  top: -35px;
  left: -20px;
  width: 50px;
  padding: 5px 5px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #000;
}
.side-btn .menu-btn .blind:after {
  content: '';
  display: block;
  left: 20px;
  position: absolute;
  border-top: 13px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.side-btn .menu-btn a img {
  width: 25px
}

/*오른쪽 상담채팅 리스트*/
.qna-fix {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 3
}
.qna-fix .chaton {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #a9b1be url(../img/ico_foot_qna.png)no-repeat center;
}
.qna-fix .chatoff {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #000 url(../img/ico_foot_qna_x.png)no-repeat center;
}
.qna-fix .chaton:hover {
  background: #000 url(../img/ico_foot_qna.png)no-repeat center;
  transition: 0.3s;
}
.qna-fix .chaton.on {
  display: none;
}
.qna-fix .chatoff.on {
  display: block;
}
.qna-fix .chat-list {
  display: none;
}
.qna-fix .chat-list.on {
  display: block;
}
.qna-fix .chat-list .naver.on {
  position: absolute;
  right: 0;
  bottom: 70px;
  transition: 0.3s
}
.qna-fix .chat-list .naver {
  position: absolute;
  bottom: 0
}
.qna-fix .chat-list .naver a {
  display: block;
  width: 60px;
  height: 60px;  
  border-radius: 50px;
  overflow: hidden;
  background: #cdcdcd url(../img/ico_naver.png)no-repeat center;
}
.qna-fix .chat-list .naver a:hover {
  background: #40b64a url(../img/ico_naver.png)no-repeat center;
}
.qna-fix .chat-list .kakao.on {
  position: absolute;
  bottom: 140px;
  right: 0;
}
.qna-fix .chat-list .kakao {
  position: absolute;
  bottom: 0;
  right: 0;
}
.qna-fix .chat-list .kakao a {
  display: block;
  width: 60px;
  height: 60px;  
  border-radius: 50px;
  overflow: hidden;
  background: #cdcdcd url(../img/ico_kakaooff.png)no-repeat center;
}
.qna-fix .chat-list .kakao a:hover {
  background: #fdf03e url(../img/ico_kakao.png)no-repeat center;
}
.qna-fix .chat-list .web.on {
  position: absolute;
  bottom: 210px;
  right: 0;
  transition: 0.5s
}
.qna-fix .chat-list .web {
  position: absolute;
  bottom: 210px;
  right: 0;
}
.qna-fix .chat-list .web a {
  display: block;
  width: 60px;
  height: 60px;  
  border-radius: 50px;
  overflow: hidden;
  background: #cdcdcd url(../img/ico_web.png)no-repeat center;
}
.qna-fix .chat-list .web a:hover {
 background: #3fa9f5 url(../img/ico_web.png)no-repeat center;
}

/*header*/
header {
  width: 100%;
  height: 110px;
  padding: 0 60px;
  box-sizing: border-box;
}
header .logo {
  padding-top: 48px;
  float: right;
}
.logo a {
  height: 36px;
}
.logo a img {
  height: 100%;
}

header .gnb {
  padding-top: 53px;
}
.gnb a {
  padding-right: 15px;
}
.gnb .all-p {
  font-size: 32px;
  font-weight: bold;
  padding-right: 50px;
}
.gnb .bl {
  font-weight: bold;
  color: #2087C9;
}

/*product-sum*/
.con .product-top {
  position: relative;
/*  width: 100%;*/
  height: 700px;
}
.product-top .product-wrap {
  width: 100%;
  height: 700px;
}
/*왼쪽*/
.product-wrap .product-sum {
  position: relative;
  left: 0;
  top: 0;
  width: 70%;
  height: 700px;
  overflow: hidden;
}
.product-sum .sum-img {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.product-sum .sum-img .sum {
  width: 100%;
  height: 700px;
}
.sum-img div {
  display: none
}
.sum-img img {
  position: absolute;
  left: 0;
  top: 0
}
/*.product-sum .sum-img div {
  display: none;
}*/
/*.product-sum .sum-img div.on {
  display: block;
}*/
/*.sum-img img {
  height: 700px;
}*/
.sum-img div.on{
  display: block;
}

.product-top .sum-list {
  position: absolute;
  top: 50%;
  left: 60px;
  margin-top: -180px;
}
.sum-list ul {
  display: block;
  width: 64px;
  height: 360px;
}
.sum-list ul li {
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  background: #fff;
  border: 1px solid #fff;
  overflow: hidden;
/*  opacity: 0.7*/
}
.sum-list ul li:not(last-child) {
  margin-bottom: 10px
}
.sum-list ul li img {
  height: 100%;
}
/*오른쪽*/
.product-wrap .product-info {
  position: absolute;
  left: 70%;
  top: 0;
  width: 30%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  background: #fff
}
.product-info .info {
  position: absolute;
  top: 150px;
  left: 15%;
}
.info .name {
  font-size: 28px;
  margin-bottom: 20px;
}
.info .tag {
  font-size: 14px;
  color: #636363;
  margin-bottom: 15px
}
.info .price {
  font-size: 18px;
  font-weight: bold
}

.product-info .last-price {
  position: absolute;
  top: 300px;
  left: 15%;
  width: 325px;
  padding-top: 10px;
  border-top: 1px solid #636363
}
.last-price .bonus {
  height: 50px;
}
.last-price .bonus dt {
  float: left;
  width: 75px;
  font-size: 14px;
  line-height: 50px;
}
.last-price .bonus dd {
  float: left;
  font-size: 14px;
  line-height: 50px;
}
.last-price .qty {
  height: 70px;
  border-bottom: 1px solid #636363
}
.last-price .qty dt {
  float: left;
  width: 75px;
  font-size: 14px;
  line-height: 70px;
}
.last-price .qty dd {
  float: left;
  padding-top: 15px;
}

.last-price .qty .quantity {
/*  width: 350px;*/
  height: 40px;
/*  margin: auto;*/
}
.qty .quantity .btnM {
  float: left;
  width: 40px;
  height: 40px;
  height: 100%;
  background: #eee;
  
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0;
  color: #555;
  cursor: pointer
}
.qty .quantity input {
  float: left;
  width: 100px;
  height: 40px;
  margin: 0 1px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-indent: 0;
  background: transparent;
  border: none;
}
.qty .quantity .btnP {
  float: left;
  width: 40px;
  height: 40px;
  height: 100%;
  background: #eee;
  
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0;
  color: #555;
  cursor: pointer
}

.last-price .total {
  height: 70px;
}
.last-price .total dt {
  float: left;
  width: 75px;
  font-size: 14px;
  line-height: 70px;
}
.last-price .total dd {
  float: right;
  font-size: 25px;
  font-weight: 900;
  line-height: 70px;
}

/*구매버튼*/
.product-info .buy-menu {
  position: absolute;
  width: 325px;
  height: 47px;
  bottom: 100px;
  left: 15%;
}
.buy-menu > a {
  float: left;
  display: block;
}
.buy-menu .buy {
  position: relative;
  display: block;
  width: 180px;
  height: 47px;
  padding-top: 15.5px;
  border: 1px solid #000;
  text-align: center;
  box-sizing: border-box;
  margin-right: 8px
}
.buy-menu .buy:after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000;
  transition: 0.3s ease-out;
}
.buy-menu .buy:hover:after {
  content: '+';
  text-align: center;
  font-size: 25px;
  color: #fff;
  line-height: 47px;
  width: 100%
}
.buy-menu .cart {
  display: block;
  width: 64px;
  height: 47px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-right: 8px;
  background: #000 url(../img/ico_buy_cart_w.png) no-repeat center;
}
.buy-menu .favorite {
  display: block;
  width: 64px;
  height: 47px;
  border: 1px solid #000;
  box-sizing: border-box;
  background: #000 url(../img/ico_buy_favor_w.png) no-repeat center;
}

/*리뷰평점*/
.con .review {
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
}
.review h3 {
  text-align: center;
  padding: 160px 0 50px;
  font-size: 20px;
}
.review .review-sum {
  width: 890px;
  height: 140px;
  margin: auto;
}
.review-sum a {
  float: left;
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  margin-right: 10px;
}
.review-sum a:hover {
  filter: brightness(40%);
  transition-duration: .3s, 1.5s;
}
.review-sum a:last-child {
  margin-right: 0;
}
.review-sum a img {
  height: 100%;
}

/*상품 공통 정보사항*/
.con .product-detail {
  position: relative;
  padding: 0 60px;
  height: auto
}
/*tab-menu*/
.product-detail .tabMenu {
  text-align: center;
}
.tabMenu .tabs {
  padding: 60px 0;
}
.tabMenu .tabs li {
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
}
.tabMenu .tabs li a {
  color: #6f6d6d;
  padding-bottom: 5px;
}
.tabMenu .tabs li a:hover {
  color: #000;
  border-bottom: 1px #000 solid
}
.tabMenu .tabs li.on a {
  color: #000;
  border-bottom: 1px #000 solid
}

/*상세서부분 공통*/
.product-detail .tabContents {
  position: relative;
  width: 980px;
  left: 0;
  right: 0;
  margin: auto;
}
/*jQuery*/
.tabContents .tab-con {
  display: none
}
.tabContents .tab-con.on {
  display: block
}
/*상세서탭*/
.tab-detail p {
  display: block;
  text-align: center;
  width: 980px;
  margin: auto;
}
.tab-detail p img {
  margin: auto;
  width: 100%;
}

/*리뷰탭*/
.tabContents .tabContents .tab-review {
  text-align: center;
  width: 980px;
  margin: auto;
}
.tab-review .write {
  height: auto;
  margin: 0px;
  border: 0;
  width: 980px;
  outline: transparent;
  overflow: hidden;
}
.tab-review textarea {
  width: 980px;
  height: 140px;
  font-size: 14px;
  line-height: 16px;
  resize: none;
  text-rendering: auto;
  color: #000;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textarea;
  border: 1px solid #999999;
/*  background-color: #eef2fa;*/
  flex-direction: column;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 20px;
}
.tab-review textarea:focus {
  outline: none;
}
/*
.review-write .input {
  width: 980px;
  height: 140px;
  border: 1px solid #999999;
  box-sizing: border-box;    
}
*/
/*리뷰사진등록,별점,확인버튼전체*/
.tab-review .review-profile {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
/*파일명나오는곳*/
.review-profile .inputFile {
  float: left;
  width: 350px;
  height: 100%;
  margin-left: 10px;
}
.inputFile .filetext {
	float: left;
  height: 50px;
  width: 240px;
  box-sizing: border-box;
  border: 1px solid #999999
}
.inputFile .filetext:focus {
  outline: none
}
/*파일업로드버튼*/
.inputFile .fileup {
	position: relative;
  width: 110px;
  height: 50px;
  padding: 5px 0 0 5px;
  box-sizing: border-box;
  background: #000;
  overflow: hidden
}
.inputimg {
  height: 40px;
  width: 100px;
}
.hidden {
	font-size: 16px;
  position: absolute;
  right: 0;
  top: 0px;
  opacity: 0;
  cursor: pointer
}
.fileUpload input:focus {
  outline: none
}
.review-profile .starPoint {
  float: left;
  width: 460px;
  height: 100%;
  margin-left: 10px;
}
/*리뷰별점선택*/
.starPoint select {
  width: 300px;
  height: 50px;
  padding-left: 30px;
  border: 1px solid #999999
}
.starPoint select:focus {
  outline: none
}
.starPoint select option {
  background: #000;
  color: #fff
}
/*리뷰등록하기*/
.review-profile .submit {
  position: absolute;
  left: 800px;
  width: 200px;
  height: 50px;
}
.review-profile .submit button {
  width: 200px;
  height: 100%;
  background: #000;
  color: #fff
}
/*
.submit button:focus {
  outline: none
}
*/

/*정보안내탭*/
.tabContents .tab-guide {
  width: 980px;
  margin: auto
}
.tab-guide .table {
  border-top: 1px solid transparent;
}
.tab-guide .table h4 {
  font-size: 16px;
  width: 980px;
  padding: 60px 0 20px 0;
  border-bottom: 1px solid #000
  
}
.tab-guide .table dl {
  width: 980px;
}
.tab-guide .table dt {
  float: left;
  width: 20%;
  
  font-size: 14px;
  font-weight: normal;
  color: #000;
  line-height: 23px;
  word-break: keep-all;
  text-align: left;
  padding: 15px 0;
  
  border: none
}
.tab-guide .table dd {
  float: left;
  width: 80%;
  font-size: 14px;
  color: #999999;
  line-height: 23px;
  word-break: keep-all;
/*  text-align: left;*/
  padding: 15px 0;
  border: none;
  text-align: justify
}

/*footer*/
footer {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 125px;
}
footer .top-menu {
  width: 100%;
  padding: 23px 60px 29px 60px;
  border-top: 1px solid #a9b1be;
  box-sizing: border-box;
}
.top-menu .l-menu {
  float: left;
}
.top-menu .l-menu a {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #636363;
  font-size: 13px;
  color: #636363
}
.top-menu .l-menu a:nth-child(1) {
  padding-left: 0;
  border-left: none;
}
.top-menu .l-menu a:nth-child(3) {
  font-weight: bold;
  color: #000
}
.top-menu .r-menu {
  float: right;
}
.top-menu .r-menu a {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #636363;
  font-size: 13px;
  color: #636363
}
.top-menu .r-menu a:nth-child(1) {
  padding-left: 0;
  border-left: none;
}
.top-menu .r-menu a:nth-child(4) {
  padding-right: 0
}
footer .bottom {
  position: relative;
  height: 180px;
  padding: 30px 60px 0 60px;
  background: #f7f7f7
}
.company p {
  font-size: 13px;
  line-height: 24px;
  color: #636363
}
.company .copy {
  margin-top: 30px;
}
.bottom .sns {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 110px;
  float: right;
}
.sns a {
  float: left;
}
.sns .facebook {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 7px;
  background: url(../img/ico_foot_sns_facebook_off.png)no-repeat center;
}
.sns .facebook:hover {
  background: url(../img/ico_foot_sns_facebook_on.png)no-repeat center;
}
.sns .instagram {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 7px;
  background: url(../img/ico_foot_sns_instagram_off.png)no-repeat center;
}
.sns .instagram:hover {
  background: url(../img/ico_foot_sns_instagram_on.png)no-repeat center;
}
.sns .youtube {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 7px;
  background: url(../img/ico_foot_sns_youtube_off.png)no-repeat center;
}
.sns .youtube:hover {
  background: url(../img/ico_foot_sns_youtube_on.png)no-repeat center;
}


